.main {
  display: flex;
  position: relative;
  align-items: center;
  min-height: calc(100vh - (80px + 32px) * 2);
  justify-content: center;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: var(--mantine-container-width);
  width: 100%;
  height: auto;
  margin: 0 auto;
  justify-content: center;
  gap: 1em;
}

.left {
  display: block;
  max-width: 100%;
}

.sticky {
  display: block;
  height: fit-content;
  position: sticky;
  top: calc(80px + 2em);
  left: 0;
}

.right {
  display: flex;
  min-width: min(400px, 100vw - 2em);
  max-width: 600px;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
