.card {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.image {
  position: absolute;
  inset: 0;
  background-size: cover;
  transition: transform 500ms ease;
}

.overlay {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
}
