.comment {
  height: 100%;
}

.body {
  padding-left: rem(54px);
  padding-top: var(--mantine-spacing-sm);
  font-size: var(--mantine-font-size-sm);
}

.content {
  & > p:last-child {
    margin-bottom: 0;
  }
}

/* Vercel上でTailwindが一部上書きしてしまうため追加 */
.button {
  background: rgb(230 73 128 / 10%);
}

.scrollArea {
  @media (min-width: $mantine-breakpoint-sm) {
    
    max-height: calc( 2 / 3 * ( min(1140px, 100vw) - 1.25rem - 32px ) - 98px);
  }
}
