.root {
  position: relative;
}

.required {
  transition: opacity 150ms ease;
  opacity: 0;

  [data-floating] & {
    opacity: 1;
  }
}

.name {
  width: 100%;
}

.namearea {
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.kami {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
