.cards {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px 24px;
  flex-wrap: wrap;

  @media (max-width: $mantine-breakpoint-sm) {
    display: flex;
  }
}

.wrap {
  @media (max-width: $mantine-breakpoint-sm) {
    display: flex;
    flex-grow: 1;
    justify-content: right;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
  }
}

.card {
  position: relative;
  height: auto;
  width: 300px;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  aspect-ratio: 3 / 4;

  @mixin hover {
    & .image {
      transform: scale(1.03);
    }
  }

  @media (max-width: $mantine-breakpoint-sm) {
    width: 45vw;
    margin: 0 auto;
  }
}

.image {
  position: absolute;
  inset: 0;
  background-size: cover;
  transition: transform 500ms ease;
}

.overlay {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}

.title {
  color: var(--mantine-color-white);
  margin-bottom: rem(5px);
}

.bodyText {
  color: var(--mantine-color-dark-2);
  margin-left: rem(7px);
}

.artist {
  color: var(--mantine-color-dark-2);
}
