.main {
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);
  padding-bottom: 80px;
  
  @media (min-width: 1250px){
    max-height: 80vh;
    padding-top: 80px;
  }

  @media (max-width: 750px){
    height: 600px;
  }
}

.inner {
  display: flex;
  justify-content: center;

  @media (max-width: $mantine-breakpoint-md) {
    display: flex;
    margin-right: 25vw;
  }
  
  @media (max-width:800px){
    padding-left: 12vw;
    flex-direction: column;
  }
}

.content {
  max-width: 50%;
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: calc(60%);
    margin-right: rem(32px);
  }

  @media (max-width: 800px){
    margin-top: 5vw;
    max-width: 80vw;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(44px);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
  /* 吹き出しのサイズ */
  @media (max-width: 800px){
    width: 70vw;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.wrap {
  @media (max-width: $mantine-breakpoint-md) {
    margin-right: 5vw;
    overflow: hidden;
    width: 70vw;
  }
}

.logo {
  width: 90%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.image {
  --image-width: 360px;
  width: calc(var(--image-width));
  height: calc(var(--image-width) / 3 * 4);
  border-radius: 6px;
  box-shadow: 32px 48px 64px -64px rgba(16, 16, 37, 0.3);
  
  @media (max-width: 800px){
    display: flex;
    margin-top: 5vw;
    object-position: top;
    width: 70vw;
    height: 70vw;
  }
}

.highlight {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  transform: rotate(-2.297deg);
  padding: 8px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #454d6f;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: 24px;
  }

  @media (max-width: 800px) {
    font-size: 2.5vh;
  }
}

.l {
  float: left;
}

.r {
  margin-top: -0.5em;
  float: right;
}

.r::after {
  content: '';
  display: block;
  width: 1.2em;
  height: 1.2em;
  color: black;
  background: url('../../public/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  bottom: -8px;
  right: -18px;

  @media (max-width: $mantine-breakpoint-md) {
    bottom: -6px;
    right: -16px;
  }

  @media (max-width: 640px) {
    bottom: -4px;
    right: -12px;
  }
}
