.main {
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);
  padding-bottom: 80px;
  justify-content: center;

  @media (min-width: 1250px) {
    max-height: 80vh;
    padding-top: 80px;
  }

  @media (max-width: $mantine-breakpoint-md) {
    height: auto;
  }
}

.inner {
  display: flex;
  justify-content: center;
  padding-right: 12px;

  @media (max-width: $mantine-breakpoint-md) {
    padding-right: 0;
    align-items: center;
    flex-direction: column;
  }
}

.content {
  max-width: 45%;
  margin-right: 64px;

  @media (max-width: $mantine-breakpoint-md) {
    margin: 5em 0 56px;
    max-width: 75%;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 80vw;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(32px);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(28px);
  }
  /* 吹き出しの横サイズ */
  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 75vw;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    max-width: 90vw;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.logo {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 600px;
    width: 90%;
  }
}

.image {
  width: 360px;
  max-width: 500px;
  aspect-ratio: 3 / 4;
  border-radius: 6px;

  @media (max-width: $mantine-breakpoint-md) {
    width: 60vw;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    display: flex;
    object-position: top;
    width: 70vw;
  }
}

.highlight {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  transform: rotate(-2.297deg);
  padding: 8px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--mantine-color-blue-6);
  white-space: nowrap;

  @media (max-width: calc($mantine-breakpoint-xs + 1px)) {
    font-size: 0.8em;
  }
}

.l {
  float: left;
}

.r {
  margin-top: -0.5em;
  float: right;
}

.pcText {
  display: inline-block;

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.r::after {
  content: '';
  display: block;
  width: 48px;
  height: 48px;
  /* fill → SVGで読み込んでいるため直接編集する必要あり */
  background: url('../../public/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  bottom: -14px;
  right: -24px;
  rotate: 3deg;

  @media (max-width: $mantine-breakpoint-md) {
    bottom: -20px;
    right: -12px;
    rotate: 120deg;
  }
}
