h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

h2,
h3 {
  font-weight: bold;
  color: #333;
}

h2 {
  font-size: 2.25rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

h3 {
  font-size: 1.8rem;
  margin-top: 10rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

main {
  padding-top: calc(80px + 1em);

  @media (min-width: 1600px) and (min-height: 800px) {
    padding-top: 0;
    padding-inline: calc(80px + 3em) 2em;
  }
}

body {
  height: auto;
  background-color: #fefcfb !important;
  overflow-x: hidden;

  /* スクロールバー (Firefoxを除く) */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--mantine-color-themeColor-5);
    border-radius: 4px;
  }
}

img {
  /* 画像ダウンロード禁止 */
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
}

.big-shadow {
  /* 範囲が大きめだけどかなり薄めたほんのり影(幅が大きい要素向け) */
  box-shadow: 32px 48px 64px -64px rgba(16, 16, 37, 0.3);
}

.light-shadow {
  /* 範囲は小さめでめっちゃ薄めたほんのり影(幅が小さい要素向け) */
  box-shadow: 4px 4px 32px -24px rgba(16, 16, 37, 0.2) !important;
}

.pc-only {
  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.sp-only {
  @media (min-width: calc($mantine-breakpoint-xs + 1px)) {
    display: none;
  }
}

/*
  CSSアニメーション
*/

.anim-wave {
  animation: anim-wave 4s ease-in-out infinite normal;
  display: inline-block;
  transition: 1.5s ease-in-out;
}

@keyframes anim-wave {
  0% {
    transform: translate(0, 6px) rotate(0deg);
  }

  50% {
    transform: translate(0, -6px) rotate(0deg);
  }

  100% {
    transform: translate(0, 6px) rotate(0deg);
  }
}

.anim-fadeUp {
  animation: anim-fadeup 0.7s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal both;
}

@keyframes anim-fadeup {
  0% {
    transform: translate(0, 48px) rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
}

.anim-fadeIn {
  animation: anim-fadein 0.4s linear 0.4s 1 normal both;
}

@keyframes anim-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* anims は一括で子要素をアニメーションさせるときの親要素に指定する */
.anims .anim-fadeLeft {
  animation: anim-fadeleft 0.5s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal both;
}

@keyframes anim-fadeleft {
  0% {
    transform: translate(48px, 0) rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
}

.anim-bounce {
  animation: anim-bounce 0.8s linear 0s 1 normal both;
  transform-origin: bottom right;
}

@keyframes anim-bounce {
  0% {
    transform: rotate(0deg);
  }

  12% {
    transform: rotate(-0.25deg);
  }

  24% {
    transform: rotate(-1.0005deg);
  }

  36% {
    transform: rotate(-2.2512deg);
  }

  54% {
    transform: rotate(-1.7232deg);
  }

  74% {
    transform: rotate(-2.2595deg);
  }

  82% {
    transform: rotate(-2.1534deg);
  }

  92% {
    transform: rotate(-2.2818deg);
  }

  96% {
    transform: rotate(-2.261deg);
  }

  100% {
    transform: rotate(-2.297deg);
  }
}

.anim-tail-pc {
  animation: anim-tail-pc 0.5s cubic-bezier(0.55, 0.99, 0.54, 1) 0s 1 normal both;
}

@keyframes anim-tail-pc {
  0% {
    bottom: -12px;
    right: 0;
  }

  100% {
    bottom: -14px;
    right: -24px;
  }
}

.anim-tail-sp {
  animation: anim-tail-sp 0.5s cubic-bezier(0.55, 0.99, 0.54, 1) 0s 1 normal both;
}

@keyframes anim-tail-sp {
  0% {
    bottom: -6px;
  }

  100% {
    bottom: -20px;
  }
}
