@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

h2,
h3 {
  font-weight: bold;
  color: #333;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

main {
  /* ちらつき防止 */
  min-height: calc(100vh - (80px + 32px) * 2);
  height: auto;
  overflow: hidden;
}

body {
  height: auto;
  background-color: #fafbfc;
  overflow-x: hidden;
}

img {
  /* 画像ダウンロード禁止 */
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
}

.big-shadow {
  /* 範囲が大きめだけどかなり薄めたほんのり影(幅が大きい要素向け) */
  box-shadow: 32px 48px 64px -64px rgba(16, 16, 37, 0.3);
}

.light-shadow {
  /* 範囲は小さめでめっちゃ薄めたほんのり影(幅が小さい要素向け) */
  box-shadow: 4px 4px 32px -24px rgba(16, 16, 37, 0.2) !important;
}

.pc-only {
  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.sp-only {
  @media (min-width: calc($mantine-breakpoint-xs + 1px)) {
    display: none;
  }
}

/*
  CSSアニメーション
*/

.anim-wave {
  animation: anim-wave 4s ease-in-out infinite normal;
  display: inline-block;
  transition: 1.5s ease-in-out;
}

@keyframes anim-wave {
  0% {
    transform:translate(0, 6px) rotate(0deg);
  }

  50% {
    transform:translate(0, -6px) rotate(0deg);
  }

  100% {
    transform:translate(0, 6px) rotate(0deg);
  }
}

.anim-fadeUp {
  animation: anim-fadeUp 0.7s normal;
  display: inline-block;
  transition: transform 0.7s cubic-bezier(0.33, 1, 0.68, 1);
}

@keyframes anim-fadeUp {
  0% {
    transform:translate(0, -48px);
    opacity: 0;
  }

  100% {
    transform:translate(0, 0);
    opacity: 1;
  }
}

.anim-fadeIn {
  animation: anim-fadeIn 0.4s linear 0.4s 1 normal both;
}

@keyframes anim-fadeIn{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}