.header {
  height: rem(80px);
  background-color: #fefcfb;
}

.inner {
  height: rem(80px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buger {
  color: black;
}

.link {
  display: block;
  line-height: 2;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: #332318;
  font-size: var(--mantine-font-size-md);
  transition: background-color 0.5s;

  @mixin hover {
    background-color: var(--mantine-color-themeColor-5);
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-themeColor-5);
    color: var(--mantine-color-white);
  }
}
