.arrow {
  display: block;
  width: 48px;
  height: 48px;
	fill: var(--mantine-color-themeColor-5);
  object-fit: contain;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
}

.pc {
  bottom: -12px;
  right: 0;
  rotate: 3deg;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.sp {
  display: none;
  bottom: -20px;
  right: -12px;
  rotate: 120deg;

  @media (max-width: $mantine-breakpoint-md) {
    display: block;
  }
}