.wrap {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.flowShape {
  width: 100%;
  height: auto;
  min-width: 1080px;
  position: absolute;
  inset: 0px;
  object-fit: contain;
}