
.wrap {
  @media (max-width: $mantine-breakpoint-sm) {
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: calc(50% - 1em);
    margin: 0 auto;
  }
}

.card {
  position: relative;
  height: auto;
  width: 300px;
  background-color: #f9bb2e;
  aspect-ratio: 3 / 4;

  @mixin hover {
    & .image {
      transform: scale(1.03);
    }
  }

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}

.image {
  height: 100%;
  position: absolute;
  inset: 0;
  background-size: cover;
  transition: transform 500ms ease;
}

.content {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}

.artist {
  color: var(--mantine-color-dark-2);
}
