.footer {
  /* webの検証で影響を及ぼせる範囲 */
  margin-top: rem(120px);
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  background-color: light-dark(#8dd9f9, var(--mantine-color-dark-6));
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.logo {
  display: flex;
  margin-left: 4vw;

  @media (min-width: 1440px) {
    margin-left: 72px;
    width: 1440px
  }
}

.description {
  margin-top: rem(5px);

  @media (max-width: 1280px) {
    margin-top: var(--mantine-spacing-xs);
    text-align: center;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  font-size: x-large;

  @media (max-width: 960px) {
    width: 60vw;
  }

  @media (min-width: 1440px) {
    padding-left: 80px;
    padding-right: 80px;
    width: 1440px;
  }
}

.groups {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 1280px) {
    display: none;
  }
}

.wrapper {
  width: rem(200px);
}

.link {
  display: block;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  font-size: var(--mantine-font-size-sm);
  padding-top: rem(3px);
  padding-bottom: rem(3px);

  &:hover {
    text-decoration: underline;
  }
}

.afterFooter {
  /* Under Line */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: 10px;
  max-width: 1440px;
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));

  @media (max-width: 960px) {
    flex-direction: column;
  }

  @media (min-width: 1440px) {
    width: 1440px;
  }
}

.social {
  margin-top: 1.5vw;
  width: 7vw;

  @media (min-width: 1280px) {
    margin-top: var(--mantine-spacing-xs);
    max-width: 101px;
  }
}

.icon {
  border-radius: 50%;
  align-items: left;
  padding-left: 20%;
  padding-top: 19%;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.right {
  display: flex;
  text-align: right;
  margin-right: 5vw;

  @media (max-width: 960px) {
    margin-top: 5vw;
    width: 59vw;
  }

  @media (min-width: 1280px) {
    margin-right: 72px;
  }
}

.test1 {
  font-weight: 900;
  font-size: x-large;
  margin-left: 5vw;

  @media (min-width: 1280px) {
    margin-left: 72px;
  }
}

.test2 {
  float: left;
  margin-left: 5vw;

  @media (max-width: 960px) {
    margin-right: 5vw;
    margin-left: 5vw;
  }

  @media (min-width: 1280px) {
    margin-left: 72px;
  }
}
