.footer {
  /*webの検証で影響を及ぼせる範囲*/
  margin-top: rem(120px);
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  background-color: light-dark(#8dd9f9, var(--mantine-color-dark-6));
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.logo {
  display: flex;
  margin-left: 5vw;
  @media (max-width: 100vw) {
    display: flex;
    flex-direction: column;
  }
}

.description {
  margin-top: rem(5px);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
    text-align: center;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
}

.groups {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.wrapper {
  width: rem(200px);
}

.link {
  display: block;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  font-size: var(--mantine-font-size-sm);
  padding-top: rem(3px);
  padding-bottom: rem(3px);

  &:hover {
    text-decoration: underline;
  }
}

.title {
  font-size: var(--mantine-font-size-lg);
  font-weight: 700;
  font-family: Greycliff CF, var(--mantine-font-family);
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.afterFooter {
  /*Under Line*/
  display: flex;
  align-items: right;
  justify-content: space-between;
  margin-top: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: 10px;
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  @media (max-width: 90%) {
    flex-direction: row;
  }
}

.social {
  margin-top: 10%;
  width: 5vw;
  
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
  }
}

.icon {
  border-radius: 50%;
  align-items: right;
  padding-left: 20%;
  padding-top: 19%;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.right{
  display: flex;
  text-align: right;
  margin-right: 5vw;
}

.test1{
  font-weight: 900;
  font-size: x-large;
  margin-left: 5vw;
}
.test2{
  align-items: right;
  padding-left: 20%;
  padding-top: 19%;
  height: 100%;
  width: 100%;
  background-color: rgb(79, 68, 22);
}
