.wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  inset: 0;
  opacity: 1;
  pointer-events: none;
  z-index: 500;
}

.animFadeOutLogo {
  animation: fade-out-logo 0.5s forwards;
  animation-delay: 3s;
}

@keyframes fade-out-logo {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}
