.arrow {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  height: 8em;
  z-index: 1;
}

.prev {
  left: -3em;
  transform: translate(-50%, -50%);
}

.next {
  right: -3em;
  transform: translate(50%, -50%);
}
