.wrap {
  max-width: var(--mantine-container-width);
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.r {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
