.main {
  display: flex;
  position: relative;
  align-items: center;
  min-height: calc(100vh - (80px + 32px) * 2);
  justify-content: center;
}

.wrap {
  max-width: var(--mantine-container-width);
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.l {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.r {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
