.header {
  height: rem(80px);
  background-color: #fafbfc;
}

.inner {
  height: rem(80px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buger {
  color: black;
}

.link {
  display: block;
  line-height: 2;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: #555577;
  font-size: var(--mantine-font-size-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}
