.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px 24px;
  flex-wrap: wrap;

  @media (max-width: $mantine-breakpoint-sm) {
    display: flex;
    gap: 40px 0.5em;
  }
}

.tag h2 {
  color: #393939;
  font-weight: 700;
  /* italicだと斜めすぎるので */
  transform: skew(-8deg);
}
