.wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  inset: 0;
  opacity: 1;
  z-index: 200;
}

.logo {
  object-fit: contain;
  max-width: 75vw;
  max-height: 75vh;
}